.team-content-wrapper {
	overflow: hidden;
}

.team-content-wrapper .hentry-inner {
	position: relative;
}

.team-content-wrapper .post-thumbnail {
	line-height: 1;
}

.team-content-wrapper .entry-meta {
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 0;
	text-transform: capitalize;
}

.team-content-wrapper .artist-social-profile {
	margin: 14px 0 0;
}

.team-content-wrapper .menu-social-container {
	border: none;
}

.team-content-wrapper .social-navigation ul {
	margin: 0 -7px;
	text-align: left;
}