#colophon .widget-column {
	float: left;
	position: relative;
	width: 100%;
	z-index: 2;
}

#site-generator {
	clear: both;
	padding: 28px 30px;
}

.site-info {
	font-size: 12px;
	text-align: center;
}

#footer-newsletter .widget {
    padding: 30px 0;
}